/* flynnos.css */
body
{
    background-color: #040809;	/* The bottom color of background.jpg. */
    /*background-image: url(images/background.jpg);
    background-repeat: repeat-x;*/
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
}

div#footer
{
    text-align:center;
    width:100%;
    color: #b5ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

#boundingTable
{
    margin:auto;   
}
#taskBar
{
    opacity: 1;   
}

#monitor
{
    float:left;
    
}

#display
{
    display:none;
}


div.textBox
{
    overflow: auto;
}

.textBox
{
    background-color: #02181d;
    border-color:#b5ffff;
    color: #b5ffff;
    border: solid 3px;
    border-radius: 15px;   
    padding:5px;
    display:none;
    width:355px;
    height:250px;
}

#cpuDiv
{
    width:250px;  
    height:25px; 
}

#cpuTable
{   
    table-layout:fixed;
    font-family:Monospace;
}

#memDiv
{
    font-family:Monospace;
    width:200px;
}

.pcbTable td
{
    text-align:center;
    
    border-bottom: 1px dotted #b5ffff;
    padding:2px;
}

#pcbDiv
{
    font-family:Monospace;
    width:250px;  
    height:205px;
}
