/* flynnos.css */

body
{
	background-color: #010c0e;	/* The bottom color of background.jpg. */
	background-image: url(images/background.jpg);
	background-repeat: repeat-x;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}

h1 
{ 
    color: black;
	font-size:   24pt;
	font-weight: normal;
	font-style: normal;	
    border-bottom: 1px solid #dad8ed;  
}

h2
{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size:   16pt;
	font-weight: normal;
	font-style: normal;	
}

p.breadcrumbs
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    line-height: normal;
    color: green;
    position: relative;
    top: -16px;
}


td.section
{
	border-top: 1px solid blue;
	padding-top: 6px;
	padding-bottom: 6px;	
}

td.heading
{
	background-color: black;
	color: white;
	font-weight: normal;
	font-style: normal;
}

#frame
{
    width: 800px;
	height:1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 10px;			/* set in init() */
    border-width: 6px;		/* set in init() */
    border-style: double;
    border-color: #dad8ed;  /* "circles" light-blueish */
}


#taskBar
{
    opacity: .75;   
}

.subheading
{
	font-weight: normal;
	font-style: italic;
}

.instructions
{
	font-size:10pt;
	font-weight: normal;
	font-style: normal;	
}

.widget
{
	width:100%;
	position: relative;	
	background-color: #dad8ed; /* was #99ffff */;
	border: 1px solid blue;	
}



.footer 
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.label
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
}

.textBox
{
    background-color: #02181d;
    color: #b5ffff;
    border: solid 3px;
    border-radius: 15px;   
    visibility: hidden;
}
