/* flynnos.css */
body
{
    background-color: #040809;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: normal;
}

div#footer
{
    text-align:center;
    width:100%;
    color: #b5ffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

#boundingTable
{
    margin:auto;   
}
#taskBar
{
    opacity: 1;   
}

#monitor
{
    float:left;
    
}

#display
{
    display:none;
}


div.textBox
{
    overflow: auto;
}

.textBox
{
    background-color: #02181d;
    border-color:#b5ffff;
    color: #b5ffff;
    border: solid 3px;
    border-radius: 15px;   
    padding:5px;
    display:none;
    width:355px;
    height:250px;
}
/* CPU */
#cpuDiv
{
    width:255px;  
    height:25px; 
}

#cpuTable
{   
    table-layout:fixed;
    font-family:Monospace;
}

/* Mem */
.memPageTab
{
    display: inline;
    padding: 5px;
    border-left: dotted 1px;
}

li#page-0.memPageTab
{
    border-left: 0px;
}


ul#pages
{
    list-style-type:none; 
    text-align: left;
    width:100%;
    border-bottom: solid 2px;
    margin:0;   
    padding:0;
    padding-bottom:3px;
}

.memPageTab a
{
    text-decoration: none; 
    color: #b5ffff;
    padding: 1px 3px 1px 3px;
}

.pageTable td
{
    font-family:Monospace;
    font-size: 10pt;
    text-align:center; 
}

.memPageTab a:hover
{
    text-decoration: none; 
    color: #040809;
    background-color: #b5ffff;
}

/* PCBs */
.pcbTable td
{
    text-align:center;    
    border-bottom: 1px dotted #b5ffff;
    padding:2px;
}

.pcbTab
{
    display: inline;
    padding: 3px;
    border-left: dotted 1px;
}

#pcbDiv
{
    font-family:Monospace;
    width:255px;  
    height:205px;
}

li#resTab.pcbTab
{
    border-left: 0px;
}

ul#pcbs
{
    list-style-type:none; 
    text-align: center;
    width: 100%;
    border-bottom: solid 2px;
    margin:0;   
    padding:0;
    padding-bottom:3px;
}

.pcbTab a
{
    text-decoration: none; 
    color: #b5ffff;
    padding: 1px;
}

.pcbTab a:hover
{
    text-decoration: none; 
    color: #040809;
    background-color: #b5ffff;
}

#pcbDiv div.tabBox
{
    height: 85%;
}

/* THIS NEEDS THE a tag JOHN! */
.ui-tabs-active a
{
    text-decoration: none; 
    color: #040809;
    background-color: #b5ffff;
}

div.tabBox
{
    width:100%;
    height: 93%;
    overflow:auto;
}

/* Logger */
div#logDiv
{
    float:left;
}

td.src
{
    text-align:right;
}

div#logDrop.textBox
{
    position                   : relative;
    z-index                    : 1;
    top                        : 15px;
    height                     : 20px;
    width                      : 15px;
    padding                    : 0px;
    margin                     : 0px;
    border-radius              : 0px;
    border-top-right-radius    : 15px;
    border-bottom-right-radius : 15px;
    overflow                   : hidden;
} 

div#logDrop a.optionTab
{
    text-decoration:none;
    color: #b5ffff;
    padding : 1px;
    margin: 0px;
}

div#logDrop a.optionTab:hover
{
    text-decoration:none;
    color: #040809;
    background-color: #b5ffff;
}

div#logDrop a.toggled
{
    text-decoration:line-through
}

a#toggleOption
{   
    text-decoration:none;
    color: #b5ffff;
    float   : right;
    padding : 2px;
}

a#toggleOption:hover 
{
    text-decoration:none;
    color: #b5ffff ;
    background-color: transparent;
}

ul#optionMenu
{
    list-style-type:none; 
    width: 100%;
    margin:0px;   
    padding:2px;    
}
ul#optionMenu li
{
    border-bottom:1px dashed;
}
